<div class="card shadow mb-4 border-bottom-info">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Course Details</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <label for="staticEmail" class="col-sm-2 col-form-label"
        >Course Id :
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="{{ courseId }}"
        />
      </div>
    </div>
    <div class="row">
      <label for="staticEmail" class="col-sm-2 col-form-label"
        >Course Name :
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="{{ course.courseName }}"
        />
      </div>
    </div>
    <div class="row">
      <label for="staticEmail" class="col-sm-2 col-form-label"
        >courseDescription :
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="{{ course.courseDescription }}"
        />
      </div>
    </div>
    <div class="row">
      <label for="staticEmail" class="col-sm-2 col-form-label"
        >startTime :
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="{{ course.startTime }}"
        />
      </div>
    </div>
    <div class="row">
      <label for="staticEmail" class="col-sm-2 col-form-label"
        >End Time :
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="{{ course.endTime }}"
        />
      </div>
    </div>
    <div class="row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Day : </label>
      <div class="col-sm-10">
        <input
          type="text"
          readonly
          class="form-control-plaintext"
          id="staticEmail"
          value="{{ course.day }}"
        />
      </div>
    </div>
  </div>
</div>
