<p class="display-4">
  <a [routerLink]="['../../']" class="text-dark">
    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
  </a>
</p>
<div class="card shadow mb-4 border-bottom-info">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Teacher Details</h6>
  </div>
  <div class="card-body">
    <ng-container>
      <div class="row">
        <label class="col-sm-2 col-form-label">Teacher Name : </label>
        <div class="col-sm-10">
          <label
            *ngIf="!mode"
            type="text"
            readonly
            class="form-control-plaintext"
            >{{ teacher.teacherName }}
          </label>
          <ng-container *ngIf="mode">
            <form
              class="form-inline"
              (ngSubmit)="editTeacher()"
              [formGroup]="editForm"
            >
              <input
                type="text"
                class="form-control mb-2 mr-sm-2"
                id="inlineFormInputName2"
                formControlName="teacherName"
                [class.is-invalid]="
                  editForm.get('teacherName').errors &&
                  editForm.get('teacherName').touched
                "
                [value]="teacher?.teacherName"
              />
              <div class="form-check mb-2 mr-sm-2"></div>

              <button
                type="submit"
                (click)="mode = !mode"
                class="btn btn-outline-success mb-2"
              >
                <i class="fa fa-check"></i>
              </button>
            </form>
          </ng-container>
        </div>
      </div>
      <!--  -->

      <!--  -->
      <div class="row">
        <label class="col-auto col-form-label">Department Name : </label>
        <div class="col-auto">
          <label type="text" readonly class="form-control-plaintext"
            >{{ teacher.departmentName }}
          </label>
        </div>
      </div>
      <div class="row">
        <label class="col-auto col-form-label">email: </label>
        <div class="col-auto">
          <label type="text" readonly class="form-control-plaintext"
            >{{ teacher.email }}
          </label>
        </div>
      </div>
      <div class="row">
        <label class="col-auto col-form-label">username : </label>
        <div class="col-auto">
          <label type="text" readonly class="form-control-plaintext"
            >{{ teacher.userName }}
          </label>
        </div>
      </div>

      <hr class="sidebar-divider" />
      <div class="row">
        <div class="col-auto">
          <a (click)="mode = !mode" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50">
              <i class="fa fa-edit"></i>
            </span>
            <span class="text">Edit</span>
          </a>
        </div>
        <ng-container *ngIf="courses?.length < 6">
          <div *ngIf="!addcoursemode; else cancel" class="col-auto">
            <a
              class="btn btn-success btn-icon-split"
              (click)="addcoursemode = !addcoursemode"
            >
              <span class="icon text-white-50">
                <i class="fa fa-edit"></i>
              </span>
              <span class="text">Add Course to time table</span>
            </a>
          </div>
          <ng-template #cancel>
            <a
              class="btn btn-danger btn-icon-split"
              (click)="addcoursemode = !addcoursemode"
            >
              <span class="icon text-white-50">
                <i class="fa fa-times"></i>
              </span>
              <span class="text">cancel</span>
            </a>
          </ng-template>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
<ng-container *ngIf="courses?.length > 0 && !addcoursemode">
  <div class="card shadow mb-4 border-bottom-info">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Teacher Courses</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <table
            class="table table-bordered dataTable"
            id="dataTable"
            width="100%"
            cellspacing="0"
            role="grid"
            aria-describedby="dataTable_info"
            style="width: 100%"
          >
            <thead>
              <tr class="text-center">
                <th rowspan="1" colspan="1">Course Name</th>
                <th rowspan="1" colspan="1">Course Description</th>
                <th rowspan="1" colspan="1">Course day</th>
                <th rowspan="1" colspan="1">Course start time</th>
                <th rowspan="1" colspan="1">Course end time</th>
                <th rowspan="1" colspan="1"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                role="row"
                class="odd text-center"
                *ngFor="let course of courses"
              >
                <td class="justify-content-center text-center">
                  {{ course.courseName }}
                </td>

                <td colspan="1">{{ course.courseDescription }}</td>
                <td colspan="1">{{ course.day }}</td>
                <td colspan="1">{{ course.startTime }}</td>
                <td colspan="1">{{ course.endTime }}</td>
                <td colspan="1">
                  <a
                    data-toggle="modal"
                    data-target="#deleteModal"
                    class="btn btn-danger mr-1"
                    (click)="deleteitem = course.courseId"
                  >
                    <i class="fa fa-trash"></i>
                  </a>
                  <a
                    class="btn btn-success"
                    [routerLink]="['/admin-panel/Courses/', course.courseId]"
                  >
                    <i class="fa fa-sign-in"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="addcoursemode">
  <div class="card shadow mb-4 border-bottom-info">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">add Course</h6>
    </div>
    <div class="card-body">
      <table
        class="table table-bordered dataTable"
        id="dataTable"
        width="100%"
        cellspacing="0"
        role="grid"
        aria-describedby="dataTable_info"
        style="width: 100%"
      >
        <thead>
          <tr class="text-center">
            <th rowspan="1" colspan="1">Course Name</th>
            <th rowspan="1" colspan="1">Course Description</th>
            <th rowspan="1" colspan="1">Course day</th>
            <th rowspan="1" colspan="1">Course start time</th>
            <th rowspan="1" colspan="1">Course end time</th>
            <th rowspan="1" colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            role="row"
            class="odd text-center"
            *ngFor="
              let course of available_courses
                | paginate
                  : {
                      id: 'listing_paginations',
                      itemsPerPage: 10,
                      currentPage: page,
                      totalItems: available_courses?.length
                    }
            "
          >
            <td class="justify-content-center text-center">
              {{ course.courseName }}
            </td>

            <td colspan="1">{{ course.courseDescription }}</td>
            <td colspan="1">{{ course.day }}</td>
            <td colspan="1">{{ course.startTime }}</td>
            <td colspan="1">{{ course.endTime }}</td>
            <td colspan="1">
              <a
                class="btn btn-success"
                (click)="
                  add_course(course.courseId); addcoursemode = !addcoursemode
                "
              >
                <i class="fa fa-sign-in"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
          <pagination-controls
            id="listing_paginations"
            maxSize="5"
            directionLinks="true"
            (pageChange)="page = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- delete modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Are you sure want to delete ?
        </h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Are you sure ?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a
          data-dismiss="modal"
          (click)="drop_course(deleteitem)"
          class="btn btn-danger"
          >Delet</a
        >
      </div>
    </div>
  </div>
</div>
