<mdb-carousel
  class="carousel slide carousel-fade"
  [interval]="3000"
  [animation]="'fade'"
>
  <mdb-carousel-item *ngFor="let image of images">
    <div class="view w-100" style="max-height: 80vh; background: fixed center">
      <img class="d-block w-100" [src]="image.path" alt="First slide" />
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<div class="container pt-5">
  <dl class="row">
    <dt class="col-sm-3">Description lists</dt>
    <dd class="col-sm-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a turpis efficitur, lobortis erat sed, rhoncus nisl. Pellentesque facilisis mattis dui at lacinia. Ut ipsum libero, tincidunt a lacus a, fermentum</dd>

    <dt class="col-sm-3">Euismod</dt>
    <dd class="col-sm-9">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a turpis efficitur, lobortis erat sed, rhoncus nisl. Pellentesque facilisis mattis dui at lacinia. Ut ipsum libero, tincidunt a lacus a, fermentum
      </p>
      <p>Lorem ipsum dolor sit amet, consectet</p>
    </dd>

    <dt class="col-sm-3">Malesuada porta</dt>
    <dd class="col-sm-9">Lorem ipsum dolor </dd>

    <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
    <dd class="col-sm-9">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Cras a turpis efficitur, lobortis erat sed, rhoncus nisl.
       Pellentesque facilisis mattis dui at lacinia. 
       Ut ipsum libero, tincidunt a lacus a, fermentum
    </dd>

    <dt class="col-sm-3">Nesting</dt>
    <dd class="col-sm-9">
      <dl class="row">
        <dt class="col-sm-4">Nested definition list</dt>
        <dd class="col-sm-8">
          Lorem ipsum dolor sit amet, consectetur 
        </dd>
      </dl>
    </dd>
  </dl>
</div>
